<div class="relative text-white flex flex-col w-full">
  <div class="z-0 h-full absolute w-full bg-center bg-cover" [style.background-image]="getUrl"></div>
  <div class="z-10 h-16 relative">
    <div class="h-full w-full absolute z-50 flex flex-row justify-start items-center">
      <button class="mx-4" [ngClass]="{'pl-2': back}" (click)="onBack()" mat-mini-fab>
        <mat-icon>{{back ? 'arrow_back_ios' : 'menu'}}</mat-icon>
      </button>
    </div>
  </div>
  <div class="z-10 flex flex-row justify-around">
    <app-avatar [name]="bride" [photo]="bridePhoto"></app-avatar>
    <div class="text-pink-700 flex flex-col justify-end">
      <mat-icon class="text-6xl h-16 w-16 md:text-9xl md:h-32 md:w-32" [ngClass]="{'hidden': !heart}">favorite</mat-icon>
    </div>
    <app-avatar [name]="groom" [photo]="groomPhoto"></app-avatar>
  </div>
  <div class="z-10 flex flex-row justify-center">
    <span class="bg-black bg-opacity-25 rounded kdam-thmor p-1 mat-title flex flex-col justify-center items-center">
      <span>{{date | date}}</span>
      <span>{{showTime}}</span>
    </span>
  </div>
</div>
