
<div class="w-screen h-screen justify-end">
    <div class="z-0 h-full bg-center bg-cover h-ml w-full flex flex-col justify-end " [style.background-image]="">
  </div>
</div>
  
  
  <!--div class="fixed top-0 h-full w-full" (click)=" WishDialogComponent('0ms', '0ms')">
    <div class="absolute h-full w-full bg-zinc-200 opacity-80 fixed inset-0 z-50"></div>
  
    <div class="w-full h-full absolute flex justify-center items-center align-middle">
      <div class="top-0 bg-teal-900 rounded-[32px] md:max-w-md md:mx-auto p-4 fixed inset-x-0 top-80 z-50 mb-4 mx-4 md:relative">
        <div class="md:flex items-center">
          <div class="flex items-center justify-center w-16 h-16 flex-shrink-0 mx-auto">
            <i class="bx bx-error text-3xl"></i>
          </div>
          <div class="mb-10 md:mt-0 md:ml-6 text-center md:text-left">
            <p class="font-bold text-white text-4xl">Your wished card has been sent</p>
          </div>
        </div>
        <div class="text-center md:text-right mb-5 md:flex md:justify-end">
          <button class="bg-teal-800 block mx-auto text-white text-xl font-bold rounded-[12px] shadow-md px-10 py-3">Back to Home</button>
        </div>
      </div>
    </div-->
  
  
<div class="absolute px-10  md:flex md:items-center md:justify-center">
    <div class="bg-teal-900 rounded-[32px] md:max-w-md md:mx-auto p-4 fixed inset-x-0 top-80 z-50 mb-4 mx-4 md:relative">
        <div class="md:flex items-center">
          <div class="flex items-center justify-center w-16 h-16 flex-shrink-0 mx-auto">
            <i class="bx bx-error text-3xl"></i>
          </div>
          <div class="mb-10 md:mt-0 md:ml-6 text-center md:text-left">
            <p class="font-bold text-white text-4xl">Your wished card has been sent</p>
          </div>
          <div class="text-center md:text-right mb-5 md:flex md:justify-end">
          <button class="bg-teal-800 block mx-auto text-white text-xl font-bold rounded-[12px] shadow-md px-10 py-3">Back to Home</button>
          </div>
        </div>
    </div>
</div>